*{
    margin: 0;
    padding: 0;
}

.color{
    margin: 20% auto;
    text-align: center;
    width: 200px;
    user-select: none;
}
h2{
    padding: 10px;
    background-color: #a9a8a8;
    border-radius: 5px 5px 0 0;
}

h4{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #ff9000;
    border-radius: 0 0 5px 5px;
}